<div class="page__footer-content">
  <div class="page__footer-logo">
    <img src="/assets/images/logos/TTApplied_logo_White.png" alt="Team Topologies Applied" class="page__footer-logo" style="width: 200px;">
  </div>
  <div class="page__footer-strapline">
    A collaborative offer from <span class="page__footer-strapline-logo"><a href="https://conjurersolutions.co.uk" target="_blank"><img src="/assets/images/logos/conjurer_logo.png" alt="Conjurer Solutions" style="width: 50px;"></a></span> Conjurer Solutions and <span class="page__footer-strapline-logo"><a href="https://theflowhive.com" target="_blank"><img src="/assets/images/logos/the_flow_hive_logo.png" alt="The Flow Hive" style="width: 50px;"></a></span>.
  </div>
</div>

