.quote__wrapper {
  display: flex;
  justify-content: space-between; // Distribute items evenly
  align-items: flex-start; // Align items at the top
  border: 0;
  clear: both;
  margin-bottom: 2em;
  text-align: center; 
}

.quote__item {
  padding: 1.5rem;
}

.quote__item-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; // Space out title, excerpt, and link
  height: 100%; // Ensure full height usage
}

.quote__item-title,
.quote__item-excerpt,
.quote__item-body p {
  margin: 0; // Remove default margins
  padding: 5px 0 0 0; // Add consistent padding
}

.quote__item-body p {
  margin-top: auto; // Push link to the bottom
}

.quote__item-body p.quote__item-button {
  padding-top: 0px;
}

.quote__item-teaser {
 margin-top: 1rem;
}
