.quote__wrapper {
  clear: both;
  margin-bottom: 2em;
  text-align: center; 
  display: inline-block;
}

.quote__wrapper .quote__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote__wrapper .quote__item .author__avatar {
  margin-bottom: 1em;
  width: fit-content;
  height: fit-content;
  flex-basis: 100%;
  padding: 1rem;
  font-size: 1.0rem;
}
